@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Prata&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Italianno&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

a.active hr{
    display: block;
}

*{
    font-family: Outfit;
}

.prata-regular {
    font-family: "Prata", serif;
    font-weight: 400;
    font-style: normal;
  }

  ::-webkit-scrollbar{
    display: none;
  }
  
  @media (max-width:640px) {
    a.active{
        background-color: black;
        color: white;
    }
  }

  .nav-link {
    position: relative;
    display: inline-block;
    font-family: serif;
}

.nav-link::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 1.5px;
    background-image: linear-gradient(to right, #973b42, rgb(240, 232, 232));
    transition: width 0.3s ease-in-out;
}

/* When active, underline becomes full width */
.nav-link.active::after {
    width: 100%;
}
  .italianno-regular {
  font-family: "Italianno", cursive;
  font-weight: 400;
    text-shadow: 0.5px 0.5px 0px rgba(101, 7, 7, 0.15);
}
.merriweather{
  font-family: "Merriweather", ;
 font-weight: 500;
}

